export(k_means)
export(k_medoids)
export(spectral_clustering)
export(dbscan)
export(optics)
export(hc_hierarchical_clustering)
S3method(print, haufenR_dbscan)
S3method(print, haufenR_optics)
S3method(plot, haufenR_dbscan)
S3method(plot, haufenR_optics)